<div class="pokemon-card">
  <div class="pokemon-card-image">
    <img src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/other/official-artwork/1.png" alt="Polemon Image"/>
  </div>

  <div class="pokemon-card-title">
    <div class="pokemon-card-number">
      N°001
    </div>

    <div class="pokemon-card-name">
      Bulbasaur
    </div>
  </div>

  <div class="pokemon-card-types">
    <div class="pokemon-card-type-grass bg-green btn-small">Grass</div>
    <div class="pokemon-card-type-poison btn-small bg-purple">Poison</div>
  </div>
</div>
