/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Signika:wght@400500;700&display=swap');
@import 'colors';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --color-white: #fff;
  --color-black: #313131;
  --color-green: #9bcc50;
  --color-purple: #b97fc9;
  --color-orange: #fd7d24;
  --color-blue: #4592c4;
}

$bg-colors: 'white', 'black', 'green', 'purple', 'orange', 'blue';

$white: --color-white;
$black: --color-black;
$green: --color-green;
$purple: --color-purple;
$orange: --color-orange;
$blue: --color-blue;

@function bgColor($value) {

    @if $bg-color =='white' or $bg-color =='green' {
      @return(
        color: var(--color-black)
      );
    }

    @if $bg-color =='black' {

      @return (
        color: var(--color-white)
        )
    }

    @else {
      @return (
      color: var(--color-white)
      )
    }

    @return(
      background-color: var(--color-#{$bg-color})
    )

}

@export 'bgColor';

@mixin bg {
  .bg {
    @each $bg-color in $bg-colors {
      &-#{$bg-color} {
        background-color: var(--color-#{$bg-color});
        @if $bg-color == 'white' {
          color: var(--color-black);
        }
        @if $bg-color == 'black' {
          color: var(--color-white);
        }
        @if $bg-color == 'green' {
          color: var(--color-black);
        }

        @else {
          color: var(--color-white);
        }
      }
    }
  }
}

@include bg;

.btn {
  &-small {
    padding: .125rem 1.25rem;
    border-radius: 4px;
    font-size: 12px;

    font-weight: 500;
  }
}


.container {
  width: clamp(350px, 100%, 1200px);
  margin: 0 auto;
}
